@use 'variables';


// estadio

@media( max-width: 500px ){

    .main-estadio{
        display: flex;
    }




}


// footer

footer{
    display: flex;
    margin-top: 100px;
    h3{
        color: whitesmoke;
        margin-left: 70px;
    }
    p{
        color: whitesmoke;
        margin-left: 70px;
    }

    .logos-footer{
        width: 100px;
        height: 100px;;
        display: flex;
        margin: 40px;
        justify-content: space-between;
    }
    
    
}